name: CI
on: [push, pull_request, workflow_dispatch]
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    steps:
    - { name: Checkout, uses: actions/checkout@v4 }

    - name: Deploy to Cloudflare Pages
      uses: cloudflare/wrangler-action@v3
      with:
        apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        accountId: 5c548f906a7d4e02c8a4354ccce0078c
        command: pages deploy . --project-name=ecohollywood
        gitHubToken: ${{ secrets.GITHUB_TOKEN }}
